
<div class="card card-body">

    <div class="d-flex justify-content-end">
        <div>
           <!-- <button class="btn btn-primary btn-sm mb-3" routerLink="/settings/add-languages" > {{ 'Add new'  | translate }}</button> --> 
     
        </div>
    </div>

    <div class="text-muted text-center" *ngIf="loading == true">
        <p>
            {{ 'Loading...'  | translate }}
        </p>
    </div>


    <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{ 'WAITALERT'  | translate }}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            {{ 'DELETEMESSAGE'  | translate }}
        </div>
        <div class="modal-footer">
                <button class="btn btn-danger" (click)="confirmAndDelete()" > {{ 'CONFIRM'  | translate }}</button>
        </div>
      </ng-template>



     

    <table class="table" *ngIf="loading != true">
        <thead>
            <tr>
               
                <th>{{ 'NAME' | translate }}</th>
                <th>{{ 'CODE' | translate }}</th>
                <th>{{ 'ORDER' | translate }}</th>
                
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let l of languages">
                <td>
                    {{ l.name }}
                 </td>
                 <td>
                    {{ l.code }}
                 </td>
                 <td>
                    {{ l.order }}
                 </td>

                 <td class="text-end">
                   <!-- <button  class="btn btn-secondary btn-sm me-3" >
                        <i class="feather icon-edit"></i>
                    </button>-->

                    <button class="btn btn-danger btn-sm" (click)="deleteLanguage(template,l.id)" >
                        <i class="feather icon-trash-2"></i>
                    </button> 
                 </td>
                 
            </tr>
        </tbody>
    </table>
</div>